body {
  background-color: black;
}

#board {
  width: fit-content;
}

input {
  text-align: center;
  width: 62px;
  height: 62px;
  font-size: 2rem;
  font-weight: bold;
  background-color: black;
  border: 1px solid gray;
  color: white;
  margin: 2px;
  display: inline-block;
  vertical-align: top;
}

button {
  background-color: black;
  border: 1px solid gray;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2px;
}

button:hover {
  background-color: gray;
}
